 .anchor {
   text-decoration: none;
   color: inherit;
 }

 .githubLink {
   margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
 }

 .githubLink a {
  padding-left: 10px;
 }